@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.chat {
  width: 875px;
  height: 709px;
  background-color: $color-white;
  box-shadow: $shadow;
  border-radius: 20px;
  padding: 26px 28px 28px;
  box-sizing: border-box;

  @include mobile {
    max-width: 688px;
    max-height: 709px;
  }

  @include mobile_s {
    box-shadow: none;
    width: 100%;
    padding: 0;

  }

  &__header {
    position: relative;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 19px;

    @include mobile_s {
      flex-wrap: wrap;
    }

    @include mobile_s {
      // display: grid;
      // grid-template-columns: 2fr;
      // grid-template-rows: 2fr;
      padding-inline: 20px;
    }
  }

  &__title {
    @include showFonts(
      $size: 24px,
      $color: $color-text-black,
      $line-height: normal,
      $weight: 600
    );

    @include mobile_s {
      order: 1;
    }
  }

  &__info {
    display: flex;
    gap: 10px;

    @include mobile_s {
      order: 3;
      margin-top: 12px;
    }
  }

  &__text {
    @include showFonts(
      $size: 15px,
      $color: $color-text-black,
      $line-height: normal,
      $weight: 600
    );
    @include mobile_s {
      order: 3;
    }

    &_type_mail {
      color: $color-text-gray;

      @include mobile_s {
        order: 4;
      }
    }
  }

  &__button-menu {
    background-color: inherit;
    border: none;
    height: 40px;
    width: 40px;
    @include mobile_s {
      order: 2;
    }
  }

  &__popup-wrapper {
    // order: 5;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 10;
  }
}