@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.files {
  width: 100%;
  max-width: 295px;
  max-height: 709px;
  background-color: $color-white;
  box-shadow: $shadow;
  border-radius: 20px;
  padding: 28px 11px;
  box-sizing: border-box;
  overflow: scroll;
  overflow-x: hidden;

  scrollbar-width: thin;
    scrollbar-color: $color-scrollbar inherit;
    &::-webkit-scrollbar {
      width: 6px;
      height: 8px;
    }
  
    &::-webkit-scrollbar-thumb {
      background: $color-scrollbar;
      border-radius: 54px;
      width: 6px;
      height: 8px;
    }

  @include mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 688px;
    height: 405px;
    padding-bottom: 36px;
  }

  @include mobile_s{
    border-radius: 0;
    padding: 17px 17px 21px;
    box-shadow: none;
    height: auto;
  }

  &__title {
    margin-left: 9px;
    margin-bottom: 6px;
    @include showFonts(
      $size: 24px,
      $color: $color-text-black,
      $line-height: normal,
      $weight: 600
    );

    @include mobile_s{
      display: none;
    }
  }

  &__data-container {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 32px;

    @include mobile {
      flex-direction: row;
      margin-top: 15px;
      gap: 23px;
    }

    @include mobile_s{
      display: none;
    }
  }

  &__container {
    @include mobile {
      display: flex;
      gap: 21px;
      margin-inline: 78px 21px;
    }

    @include mobile_s{
      display: none;
    }
  }

  &__image {
    margin-top: 41px;

    @include mobile {
      margin-top: 0;
      width: 247px;
      height: 304px;
    }
  }

  &__subtitle {
    margin: 24px 0 0;
    text-align: center;
    @include showFonts(
      $size: 16px,
      $color: $color-text-black,
      $line-height: 23.2px,
      $weight: 500
    );

    @include mobile {
      margin-left: 0;
      margin-top: 117px;
      text-align: left;
    }
  }

  &__modification {
    display: none;
    
    @include mobile_s {
      background-color: inherit;
      display: flex;
      gap: 12px;
    }
  }

  &__button {
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: $color-white;
    display: flex;
    gap: 10px;
    align-items: center;

    @include showFonts(
      $size: 14px,
      $color: $color-text-black,
      $line-height: normal,
      $weight: 600
    );

    &_type_plan {
      border: 1px solid $color-pink;
    }

    &_type_report {
      border: 1px solid $color-blue;
    }
  }
}