@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.main {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  gap: 30px;
  padding: 33px 0 60px;
  box-sizing: border-box;
  // box-sizing: border-box;

  @include mobile {
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
  }

  @include mobile_s {
    gap: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}