@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.logo {
  width: 219px;
  height: 32px;
  cursor: pointer;

  @include mobile {
    width: 222px;
    height: 30px;
    margin-bottom: 6px;
  }
  @include mobile_s {
    margin-bottom: 0;
    margin-left: 7px;
    width: 182px;
    height: 27px;
  }
}