@use '../../../assets/styles/variables' as *;
@use '../../../assets/styles/mixins' as *;

.button {
  border: none;
  padding: 12px 22px;
  border-radius: 21px;
  @include showFonts(
      $size: 16px,
      $color: $color-white,
      $line-height: normal,
      $weight: 600
  );

  @include mobile_s {
    font-size: 14px;
  }

  &_color_blue {
    background-color: $color-blue;
  }
  
  &_color_pink {
    background-color: $color-pink;
  }

  &_color_gray {
    background-color: $color-gray;
    border-radius: 4px;
    color: $color-text-black;

    @include mobile_s {
      padding: 12px;
    }
  }
}
