@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.message-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 49px 20px 70px 26px;
  box-sizing: border-box;
  // justify-content: center;

  @include mobile_s {
    padding-top: 30px;
    padding-inline: 0 16px;
    gap: 21px;
  }
  
  &__text {
    text-align: center;
    @include showFonts(
      $size: 15px,
      $color: $color-text-gray,
      $line-height: 20.25px,
      $weight: 400
    );

    @include mobile_s {
      margin-bottom: 6px;
    }
  }
}