@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.header {
  display: flex;
  justify-content: space-between;
  // margin: 0;
  align-items: center;
  // width: 100%;
  max-width: 1200px;
  padding-top: 31px;
  margin: 0 auto;
  padding-inline: 40px;

  @include mobile {
    padding-top: 28px;
    padding-inline: 35px;
  }

  @include mobile_s {
    align-items: flex-start;
    flex-direction: column;
    background-color: inherit;
    padding: 28px 12px 0;
  }

  &__wrapper {
    display: flex;
    gap: 26px;

    @include mobile_s {
      // flex-direction: column-reverse;
      justify-content: space-between;
      width: 100%;
      margin-top: 13px;
      // gap: 4px;
    }
  }
  
  &__info {
    display: flex;
    gap: 25px;

    @include mobile_s {
      flex-direction: column-reverse;
      justify-content: start;
      // align-items: flex-end;
      gap: 5px;
    }

    &-wrapper {
      display: flex;
      align-items: center;
    }
  }
  
  &__nav {
    display: flex;
    gap: 12px;
  }

  &__icon {
    
    @include mobile_s {
      display: none;
    }
  }
  
  &__button {
    border: none;
    background-color: inherit
  }

  &__text {
    @include showFonts(
      $size: 18px,
      $color: $color-text-black,
      $line-height: normal,
      $weight: 600
    );

    @include mobile {
      font-size: 15px;
    }

    &_type_convert {
      margin-left: 8px;

      @include mobile_s {
        color: $color-text-gray;
        font-size: 12px;
        font-weight: 500;
      }
    }
    &_type_profile {
      margin-left: 10px;
    }

    &-description {
      display: none;
      @include mobile_s {
        // color: $color-text-gray;
        // font-size: 12px;
        // font-weight: 500;
        display: inline;
      }
    }
  }

}
