@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.footer {
  // width: 100%;
  background-color: $color-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 28px 40px 27px;

  @include mobile {
    padding-top: 35px;
  }
  
  @include mobile_s {
    background-color: $color-white;
    // padding: 47px 20px 40px;
    padding: 36px 20px 40px;
    // margin-top: 47px;
    // padding: ;
    // justify-content: start;
  }
  
  &__wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
    row-gap: 65px;
    
    @include mobile {
      // justify-content: flex-start;
      display: grid;
      // grid-template-columns: repeat(3, 1fr);
      // grid-template-columns: 156px 94px 1fr 50px ;
      grid-template-columns: 156px 94px 104px 1fr ;
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: 
      "logo logo politic politic ."
      "res lang lang mail .";

      // padding-top: 35px;
      // padding-bottom: 32px;
      // row-gap: 25px;
      row-gap: 15px;
      flex-wrap: none;
      justify-content: none;

    };
    
    @include mobile_s {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 19px;
      // padding: 40px 20px 40px;
    }
  }

  &__logo {
    // grid-area: logo;
    margin-right: 38px;
    @include mobile {
      margin-right: 29px;
      // order: 1;
      grid-area: logo;
    }
  }

  &__text {
    @include showFonts(
      $size: 15px,
      $color: $color-text-gray,
      $line-height: 21.75px,
      $weight: 500
    );

    @include mobile {
      font-size: 15px;
    }
    @include mobile_s {
      font-size: 14px;
      line-height: 20.3px;
    }

    &_type_politic {
      @include mobile {
        // order: 2;
        margin-inline: 0 100px;
        grid-area: politic;
      };

      @include mobile_s {
        margin-inline: 0
      };
    }

    &_type_mail {
      // grid-area: mail;
      display: flex;
      align-items: center;

      @include mobile {
        grid-area: mail;
        // order: 5;
      };

      @include mobile_s {
        order: 4;
      }
    }
  }

  &__icon {
    margin-right: 12px;
    max-height: 24px;
  }

  &__nav-languages {
    // grid-area: lang;
    @include mobile {
      // order: 4;
      // margin-inline: 64px;
      grid-area: lang;
    };

    @include mobile_s {
      order: 3;
      margin-inline: 0;
    }
  }

  &__nav-social {
    
    @include mobile {
      // grid-area: social;
      grid-area: res;
      // order: 3;
    };

    @include mobile_s {
      order: 5;
    }
  }

  &__nav-list {
    display: flex;
    align-items: center;
    gap: 12px;
    max-height: 40px;
  }
}