@use './mixins' as *;
@use './variables' as *;

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
a,
button {
  @extend %indents-reset;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
}

input {
  touch-action: none;
}

.html {
  scrollbar-color: $color-scrollbar;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: $color-scrollbar;
    border-radius: 5px;
  }
}

.body {
  background-color: $color-primary;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  margin: 0 auto;
  max-width: 1440px;

  @include mobile_s {
    background-color: $color-white;
  }
}