@mixin showFonts(
  $family: 'Inter',
  $size,
  $color,
  $weight: 400,
  $line-height 
) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  color: $color;
}

@mixin mobile() {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
@mixin mobile_s() {
  @media screen and (max-width: 600px) {
    @content;
  }
}