$color-primary: #F5F5F5;
$color-gray: #EBEBEB;
$color-pink: #EE26C2;
$color-blue: #2676EE;


$color-text-gray: #525252;
$color-text-black: #000000;

$color-button-gray: #CBCBCB;

%indents-reset {
  margin: 0;
  padding: 0;
}