@use '../../../assets/styles/variables' as *;
@use '../../../assets/styles/mixins' as *;

.chat {
  background-color: $color-gray;
  border-radius: 20px;
  max-width: 818px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 596px;
  box-sizing: border-box;

  
  @include mobile {
    width: 100%;
    height: 596px;
  }
  
  @include mobile_s {
    border-radius: 0;
    padding: 0 20px 30px;
    height: 633px;
  }
  
  &_size_big {
    @include mobile_s {
      height: 730px;
    }
  }
  
  &__chat-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 596px;
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;

    scrollbar-width: thin;
    scrollbar-color: $color-scrollbar inherit;
    &::-webkit-scrollbar {
      width: 6px;
      height: 8px;
    }
  
    &::-webkit-scrollbar-thumb {
      background: $color-scrollbar;
      border-radius: 54px;
      width: 6px;
      height: 12px;
    }
  }

  &__image {
    max-width: 190px;
    max-height: 190px;
    margin: 54px 0 20px;

    @include mobile {
      max-width: 180px;
      max-height: 183px;
    }

    @include mobile_s {
      max-width: 130px;
      max-height: 132px;
      margin-bottom: 17px;
    }
  }

  &__subtitle {
    max-width: 470px;
    text-align: center;
    @include showFonts(
      $size: 16px,
      $color: $color-text-black,
      $line-height: 23.2px,
      $weight: 500
    );

    @include mobile {
      max-width: 364px;
    }
    @include mobile_s {
      font-size: 14px;
      line-height: 145%;
      max-width: 271px;
    }
  }

  &__form-wrapper {
    position: relative;
  }

  &__form {
    background-color: $color-white;
    border-radius: 20px;
    border: 2px solid #EBEBEB;
    border-radius: 20px;
    // padding: 28px 20px 12px;
    padding: 18px 16px 0;

    @include mobile_s {
      padding-right: 10px;
      min-height: 144px;
      box-sizing: border-box;
    }
  }
  
  &__input {
    // box-sizing: border-box;
    width: 100%;
    // padding-top: 10px;
    // box-sizing: border-box;
    // min-height: 50px;
    border: none;
    resize: none;
    // width: 640px;
    // height: 144px;
    z-index: 4;
    top: 10px;

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
  
    &::-webkit-scrollbar-thumb {
      background: $color-scrollbar;
      border-radius: 54px;
      width: 6px;
      height: 8px;
    }

    &::placeholder {
      // padding-left: 10px;
    }
    @include showFonts(
      $size: 15px,
      $color: $color-text-black,
      $line-height: 20.25px,
      $weight: 400
    );

    @include mobile_s {
      font-size: 14px;
    }
    
    &:focus {
      outline: none;
    }
  }

  // &__input-wrapper:focus-within &__input:focus  {
  //   border: 2px solid #EE26C2;
  // }
  &__form:focus-within {
    border: 2px solid #EE26C2;
  }

  &__button-wrapper {
    display: flex;
    box-sizing: border-box;
    // padding-inline: 20px;
    width: 100%;
    justify-content: space-between;
    align-items: end;
    // position: absolute;
    // bottom: 4px;
    // left: 0;
    z-index: 0;

    @include mobile_s {
      position: relative;
    }
  }

  &__order-wrapper {
    position: absolute;
    top: -64px;
    left: 20px;
    display: flex;
    gap: 12px;

    @include mobile_s {
      display: flex;
      flex-direction: column-reverse;
      align-items: end;
      top: -115px;
      right: 10px;
    }
    // margin-bottom: 20px;
  }

  &__modification {
    display: flex;
    gap: 20px;
    margin-bottom: 18px;
    
    @include mobile_s {
      margin-bottom: 0;
      margin-top: 31px;
    }
  }

  &__send {
    padding-bottom: 8px;

    @include mobile {
      margin-right: 20px;
    }

    @include mobile_s {
      margin-right: 0;
      position: absolute;
      // display: flex;
      top: 17px;
      right: -2px;
    }
    // z-index: 1;
  }
}